<!DOCTYPE html>
<html>
<head>
    <title>Update Task</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% if error %}
        <div style="color: red;">
            === エラーメッセージ ===<br>
            {{ error }}
        </div>
        {% endif %}
        <h1>タスクの更新</h1>
        <form method="POST" action="{{ url_for('update_task', task_id=task.id) }}">
            <label for="content">課題内容:</label><br>
            <input type="text" id="content" name="content" value="{{ task.content }}" class="text-input"><br>
            <input type="submit" value="更新" class="button">
        </form>
    </div>
</body>
</html>